In [18]:
from pathlib import Path
import pandas as pd
import numpy as np
import collections
import scipy.stats

import warnings
warnings.filterwarnings('ignore')

In [19]:
from ranking import RankingMeasures

In [35]:
data_cats = ['idea', 'design']
data_keys = {'idea': ['bike', 'cheat', 'festival', 'meeting', 'name', 'night', 'trash', 'visitor'], 
             'design': ['ai_character', 'olympic']}
data_keys_arr = data_keys['idea'] + data_keys['design']

In [21]:
num_evaluators_arr = [20, 50, 100]
d_arr = [2, 3, 5, 10]
methods = ['crowdea_%d' % d for d in d_arr]

In [22]:
truth_dir = Path('../data/')

ndcg5_data = []
ndcg10_data = []

for data_cat in data_cats:
    for data_key in data_keys[data_cat]:
        truth_df = pd.read_csv(truth_dir / data_cat / data_key / 'truth.csv', index_col=0)        
        
        for num_evaluators in num_evaluators_arr:
            if data_key == 'olympic' and num_evaluators == 100:
                continue
                
            result_dir = Path('../result_e%d/' % num_evaluators)                        
            
            for method in methods:
                d = int(method.split('_')[-1])
                for trial in range(10):                    
                    result_dir_sub = result_dir / data_cat / data_key / str(trial)
                    x = np.loadtxt(result_dir_sub / 'crowdea_x_alpha0.1_d{}.dat'.format(d))
                
                    for viewpoint in truth_df.columns:
                        if viewpoint[0] != '*': 
                            continue

                        p_truth = truth_df.loc[:, viewpoint].values
                        v_opt = np.linalg.lstsq(x, p_truth)[0]
                        p = x.dot(v_opt)

                        rm = RankingMeasures(p, p_truth)
                        ndcg5 = rm.nDCG(5)
                        ndcg10 = rm.nDCG(10)

                        ndcg5_data.append({'data_key': data_key, 'ndcg5': ndcg5, 
                                           'method': method, 'viewpoint': viewpoint, 
                                           'trial': trial, 'num_evaluators': num_evaluators})
                        ndcg10_data.append({'data_key': data_key, 'ndcg10': ndcg10, 
                                           'method': method, 'viewpoint': viewpoint, 
                                           'trial': trial, 'num_evaluators': num_evaluators}) 
                    
score_dfs = {'ndcg5': pd.DataFrame(ndcg5_data),
            'ndcg10': pd.DataFrame(ndcg10_data)}

In [23]:
avg_dfs = {}
for measure in score_dfs.keys():
    avg_dfs[measure] = score_dfs[measure].groupby(['data_key', 'method', 'num_evaluators'])[measure].mean()

In [24]:
result_dfs = {}
for measure in score_dfs.keys():
    for method in methods:    
        result_df = pd.DataFrame(index=data_keys_arr, 
                                 columns=['#evaluators=%d' % n for n in num_evaluators_arr])
        for data_key in data_keys_arr:
            for num_evaluators in num_evaluators_arr:
                if data_key == 'olympic' and num_evaluators == 100:
                    v = np.nan
                else:
                    v = avg_dfs[measure].loc[(data_key, method, num_evaluators)]
                    
                result_df.loc[data_key, '#evaluators=%d' % num_evaluators] = v
        result_dfs[(measure, method)] = result_df

---

# Avg. of nDCG@5 among viewpoints and 10 trials

In [25]:
print('CrowDEA (d=2)')
result_dfs[('ndcg5', 'crowdea_2')]

CrowDEA (d=2)
CrowDEA (d=2)

             #evaluators=20 #evaluators=50 #evaluators=100
bike               0.780594       0.789878        0.792846
cheat              0.796914       0.808402        0.818335
festival           0.875515       0.881566        0.882849
meeting            0.809866        0.82394        0.831907
name               0.873241       0.884331        0.884294
night              0.802038       0.824198        0.821279
trash              0.740396       0.743438        0.762567
visitor            0.877417       0.903368        0.907718
olympic            0.911117       0.914142             NaN
ai_character       0.885878       0.887178        0.901125

             #evaluators=20 #evaluators=50 #evaluators=100
bike               0.780594       0.789878        0.792846
cheat              0.796914       0.808402        0.818335
festival           0.875515       0.881566        0.882849
meeting            0.809866        0.82394        0.831907
name               0.873241       0.884331        0.884294
night              0.802038       0.824198        0.821279
trash              0.740396       0.743438        0.762567
visitor            0.877417       0.903368        0.907718
olympic            0.911117       0.914142             NaN
ai_character       0.885878       0.887178        0.901125

In [26]:
print('CrowDEA (d=3)')
result_dfs[('ndcg5', 'crowdea_3')]

CrowDEA (d=3)
CrowDEA (d=3)

             #evaluators=20 #evaluators=50 #evaluators=100
bike               0.777018       0.806421        0.811624
cheat              0.813692       0.827174         0.85068
festival            0.87464       0.880545         0.88396
meeting            0.819139       0.835932        0.848276
name               0.870287       0.886584         0.88298
night              0.849605       0.856096        0.843902
trash              0.769721       0.764593        0.791892
visitor            0.894848       0.906588        0.909881
olympic            0.924818       0.925524             NaN
ai_character       0.887274       0.900443         0.91181

             #evaluators=20 #evaluators=50 #evaluators=100
bike               0.777018       0.806421        0.811624
cheat              0.813692       0.827174         0.85068
festival            0.87464       0.880545         0.88396
meeting            0.819139       0.835932        0.848276
name               0.870287       0.886584         0.88298
night              0.849605       0.856096        0.843902
trash              0.769721       0.764593        0.791892
visitor            0.894848       0.906588        0.909881
olympic            0.924818       0.925524             NaN
ai_character       0.887274       0.900443         0.91181

In [27]:
print('CrowDEA (d=5)')
result_dfs[('ndcg5', 'crowdea_5')]

CrowDEA (d=5)
CrowDEA (d=5)

             #evaluators=20 #evaluators=50 #evaluators=100
bike               0.799921       0.832995        0.854248
cheat              0.823878        0.85847        0.879413
festival           0.881696       0.884528        0.893572
meeting            0.831934        0.86454        0.888502
name               0.874899       0.898706        0.911985
night              0.870539       0.882019          0.8934
trash              0.819704       0.854124         0.86691
visitor            0.906429       0.910281        0.916535
olympic            0.930566       0.948819             NaN
ai_character       0.887569       0.904852        0.919259

             #evaluators=20 #evaluators=50 #evaluators=100
bike               0.799921       0.832995        0.854248
cheat              0.823878        0.85847        0.879413
festival           0.881696       0.884528        0.893572
meeting            0.831934        0.86454        0.888502
name               0.874899       0.898706        0.911985
night              0.870539       0.882019          0.8934
trash              0.819704       0.854124         0.86691
visitor            0.906429       0.910281        0.916535
olympic            0.930566       0.948819             NaN
ai_character       0.887569       0.904852        0.919259

In [28]:
print('CrowDEA (d=10)')
result_dfs[('ndcg5', 'crowdea_10')]

CrowDEA (d=10)
CrowDEA (d=10)

             #evaluators=20 #evaluators=50 #evaluators=100
bike               0.834601       0.867562        0.889623
cheat              0.847607       0.891474        0.916102
festival            0.89147       0.906734        0.912611
meeting            0.854729       0.891652        0.920061
name               0.886757       0.916641        0.928319
night              0.891291       0.917501        0.934638
trash              0.865873       0.903394        0.918567
visitor             0.90867        0.91843        0.925437
olympic            0.948166       0.964686             NaN
ai_character       0.889616       0.919251         0.93822

             #evaluators=20 #evaluators=50 #evaluators=100
bike               0.834601       0.867562        0.889623
cheat              0.847607       0.891474        0.916102
festival            0.89147       0.906734        0.912611
meeting            0.854729       0.891652        0.920061
name               0.886757       0.916641        0.928319
night              0.891291       0.917501        0.934638
trash              0.865873       0.903394        0.918567
visitor             0.90867        0.91843        0.925437
olympic            0.948166       0.964686             NaN
ai_character       0.889616       0.919251         0.93822

---

# Avg. of nDCG@10 among viewpoints and 10 trials

In [29]:
print('CrowDEA (d=2)')
result_dfs[('ndcg10', 'crowdea_2')]

CrowDEA (d=2)
CrowDEA (d=2)

             #evaluators=20 #evaluators=50 #evaluators=100
bike               0.799867        0.81092        0.810079
cheat              0.813493       0.823159         0.83418
festival           0.892845       0.897335        0.900654
meeting            0.824761       0.837879        0.845699
name               0.886896       0.897541        0.898898
night              0.815426       0.836275        0.839136
trash              0.762783       0.766878        0.785525
visitor            0.889121       0.915859        0.918819
olympic             0.92041       0.922574             NaN
ai_character       0.898521       0.902545        0.913785

             #evaluators=20 #evaluators=50 #evaluators=100
bike               0.799867        0.81092        0.810079
cheat              0.813493       0.823159         0.83418
festival           0.892845       0.897335        0.900654
meeting            0.824761       0.837879        0.845699
name               0.886896       0.897541        0.898898
night              0.815426       0.836275        0.839136
trash              0.762783       0.766878        0.785525
visitor            0.889121       0.915859        0.918819
olympic             0.92041       0.922574             NaN
ai_character       0.898521       0.902545        0.913785

In [30]:
print('CrowDEA (d=3)')
result_dfs[('ndcg10', 'crowdea_3')]

CrowDEA (d=3)
CrowDEA (d=3)

             #evaluators=20 #evaluators=50 #evaluators=100
bike               0.798046       0.827126        0.832435
cheat              0.826092       0.843353        0.863979
festival           0.891931       0.896686        0.901592
meeting            0.833074       0.851339        0.862774
name               0.885193       0.897602        0.895551
night              0.860409       0.867874        0.858447
trash              0.791523       0.793031        0.812666
visitor            0.903399       0.917124        0.921233
olympic            0.932904       0.932284             NaN
ai_character       0.897792        0.90889        0.921441

             #evaluators=20 #evaluators=50 #evaluators=100
bike               0.798046       0.827126        0.832435
cheat              0.826092       0.843353        0.863979
festival           0.891931       0.896686        0.901592
meeting            0.833074       0.851339        0.862774
name               0.885193       0.897602        0.895551
night              0.860409       0.867874        0.858447
trash              0.791523       0.793031        0.812666
visitor            0.903399       0.917124        0.921233
olympic            0.932904       0.932284             NaN
ai_character       0.897792        0.90889        0.921441

In [31]:
print('CrowDEA (d=5)')
result_dfs[('ndcg10', 'crowdea_5')]

CrowDEA (d=5)
CrowDEA (d=5)

             #evaluators=20 #evaluators=50 #evaluators=100
bike               0.819371       0.854776        0.877258
cheat              0.839901       0.869931        0.891355
festival           0.897283        0.90315        0.907861
meeting            0.846594       0.880034        0.901197
name               0.890083       0.911067        0.921884
night              0.880472       0.895782        0.902935
trash              0.836062       0.867206        0.879726
visitor            0.914823       0.921026        0.926533
olympic            0.937939       0.951477             NaN
ai_character       0.902191       0.917424        0.929048

             #evaluators=20 #evaluators=50 #evaluators=100
bike               0.819371       0.854776        0.877258
cheat              0.839901       0.869931        0.891355
festival           0.897283        0.90315        0.907861
meeting            0.846594       0.880034        0.901197
name               0.890083       0.911067        0.921884
night              0.880472       0.895782        0.902935
trash              0.836062       0.867206        0.879726
visitor            0.914823       0.921026        0.926533
olympic            0.937939       0.951477             NaN
ai_character       0.902191       0.917424        0.929048

In [32]:
print('CrowDEA (d=10)')
result_dfs[('ndcg10', 'crowdea_10')]

CrowDEA (d=10)
CrowDEA (d=10)

             #evaluators=20 #evaluators=50 #evaluators=100
bike               0.851591       0.886745        0.906539
cheat              0.859713       0.900238        0.922743
festival           0.905443       0.916469        0.924942
meeting            0.870385       0.904677        0.928701
name                0.89849       0.923705        0.935183
night              0.897896       0.924623        0.938588
trash               0.87703       0.911368        0.927391
visitor            0.918238       0.931096        0.936162
olympic            0.951375       0.967166             NaN
ai_character       0.904531       0.928862        0.943509

             #evaluators=20 #evaluators=50 #evaluators=100
bike               0.851591       0.886745        0.906539
cheat              0.859713       0.900238        0.922743
festival           0.905443       0.916469        0.924942
meeting            0.870385       0.904677        0.928701
name                0.89849       0.923705        0.935183
night              0.897896       0.924623        0.938588
trash               0.87703       0.911368        0.927391
visitor            0.918238       0.931096        0.936162
olympic            0.951375       0.967166             NaN
ai_character       0.904531       0.928862        0.943509

---

In [33]:
data_key_tex = {}
for data_key in data_keys_arr:
    data_key_tex[data_key] = data_key.capitalize()
    if data_key == 'ai_character':
        data_key_tex[data_key] = 'Character'

In [34]:
measure = 'ndcg10'
lines = []

s = []
for d in d_arr:
    s.append('c|' * (len(num_evaluators_arr)))
    
lines.append('\\begin{tabular}{|l||%s}' % ('|'.join(s)))
lines.append('\\hline')

#header1
elems = ['']
for d in d_arr:
    if d == d_arr[-1]:
        elems.append('\\multicolumn{%d}{c|}{\\textsc{CrowDEA} (d=%d)}' % (len(num_evaluators_arr), d))
    else:
        elems.append('\\multicolumn{%d}{c||}{\\textsc{CrowDEA} (d=%d)}' % (len(num_evaluators_arr), d))
        
lines.append('&'.join(elems) + '\\\\')

lines.append('\\cline{1-2}')
lines.append('\\cline{2-4}')
lines.append('\\cline{5-7}')
lines.append('\\cline{8-10}')
lines.append('\\cline{11-13}')

#header2
elems = ['\\#evaluators']
for d in d_arr:
    for num_evaluators in num_evaluators_arr:
        elems.append('$%d$' % num_evaluators)
lines.append('&'.join(elems) + '\\\\')

lines.append('\\hline')
lines.append('\\hline')

#contents
for data_key in data_keys_arr:
    elems = [data_key_tex[data_key]]
    for d in d_arr:
        for num_evaluators in num_evaluators_arr:        
            v = result_dfs[(measure, 'crowdea_%d' % d)].loc[data_key, '#evaluators=%d' % num_evaluators]
            if np.isnan(v):
                elems.append('-')
            else:
                elems.append('$%.3f$' % v)
                
    lines.append('&'.join(elems) + '\\\\')
    if data_key == 'visitor':
        lines.append('\\hline')
        
lines.append('\\hline')
lines.append('\\end{tabular}')

print('\n'.join(lines))

\begin{tabular}{|l||c|c|c||c|c|c||c|c|c||c|c|c|}
\hline
&\multicolumn{3}{c||}{\textsc{CrowDEA} (d=2)}&\multicolumn{3}{c||}{\textsc{CrowDEA} (d=3)}&\multicolumn{3}{c||}{\textsc{CrowDEA} (d=5)}&\multicolumn{3}{c|}{\textsc{CrowDEA} (d=10)}\\
\cline{1-2}
\cline{2-4}
\cline{5-7}
\cline{8-10}
\cline{11-13}
\#evaluators&$20$&$50$&$100$&$20$&$50$&$100$&$20$&$50$&$100$&$20$&$50$&$100$\\
\hline
\hline
Bike&$0.800$&$0.811$&$0.810$&$0.798$&$0.827$&$0.832$&$0.819$&$0.855$&$0.877$&$0.852$&$0.887$&$0.907$\\
Cheat&$0.813$&$0.823$&$0.834$&$0.826$&$0.843$&$0.864$&$0.840$&$0.870$&$0.891$&$0.860$&$0.900$&$0.923$\\
Festival&$0.893$&$0.897$&$0.901$&$0.892$&$0.897$&$0.902$&$0.897$&$0.903$&$0.908$&$0.905$&$0.916$&$0.925$\\
Meeting&$0.825$&$0.838$&$0.846$&$0.833$&$0.851$&$0.863$&$0.847$&$0.880$&$0.901$&$0.870$&$0.905$&$0.929$\\
Name&$0.887$&$0.898$&$0.899$&$0.885$&$0.898$&$0.896$&$0.890$&$0.911$&$0.922$&$0.898$&$0.924$&$0.935$\\
Night&$0.815$&$0.836$&$0.839$&$0.860$&$0.868$&$0.858$&$0.880$&$0.896$&$0.903$&$0.898$&$0.925$&$0.939$\\
Trash&$0.763$&$0.767$&$0.786$&$0.792$&$0.793$&$0.813$&$0.836$&$0.867$&$0.880$&$0.877$&$0.911$&$0.927$\\
Visitor&$0.889$&$0.916$&$0.919$&$0.903$&$0.917$&$0.921$&$0.915$&$0.921$&$0.927$&$0.918$&$0.931$&$0.936$\\
\hline
Olympic&$0.920$&$0.923$&-&$0.933$&$0.932$&-&$0.938$&$0.951$&-&$0.951$&$0.967$&-\\
Character&$0.899$&$0.903$&$0.914$&$0.898$&$0.909$&$0.921$&$0.902$&$0.917$&$0.929$&$0.905$&$0.929$&$0.944$\\
\hline
\end{tabular}
\begin{tabular}{|l||c|c|c||c|c|c||c|c|c||c|c|c|}
\hline
&\multicolumn{3}{c||}{\textsc{CrowDEA} (d=2)}&\multicolumn{3}{c||}{\textsc{CrowDEA} (d=3)}&\multicolumn{3}{c||}{\textsc{CrowDEA} (d=5)}&\multicolumn{3}{c|}{\textsc{CrowDEA} (d=10)}\\
\cline{1-2}
\cline{2-4}
\cline{5-7}
\cline{8-10}
\cline{11-13}
\#evaluators&$20$&$50$&$100$&$20$&$50$&$100$&$20$&$50$&$100$&$20$&$50$&$100$\\
\hline
\hline
Bike&$0.800$&$0.811$&$0.810$&$0.798$&$0.827$&$0.832$&$0.819$&$0.855$&$0.877$&$0.852$&$0.887$&$0.907$\\
Cheat&$0.813$&$0.823$&$0.834$&$0.826$&$0.843$&$0.864$&$0.840$&$0.870$&$0.891$&$0.860$&$0.900$&$0.923$\\
Festival&$0.893$&$0.897$&$0.901$&$0.892$&$0.897$&$0.902$&$0.897$&$0.903$&$0.908$&$0.905$&$0.916$&$0.925$\\
Meeting&$0.825$&$0.838$&$0.846$&$0.833$&$0.851$&$0.863$&$0.847$&$0.880$&$0.901$&$0.870$&$0.905$&$0.929$\\
Name&$0.887$&$0.898$&$0.899$&$0.885$&$0.898$&$0.896$&$0.890$&$0.911$&$0.922$&$0.898$&$0.924$&$0.935$\\
Night&$0.815$&$0.836$&$0.839$&$0.860$&$0.868$&$0.858$&$0.880$&$0.896$&$0.903$&$0.898$&$0.925$&$0.939$\\
Trash&$0.763$&$0.767$&$0.786$&$0.792$&$0.793$&$0.813$&$0.836$&$0.867$&$0.880$&$0.877$&$0.911$&$0.927$\\
Visitor&$0.889$&$0.916$&$0.919$&$0.903$&$0.917$&$0.921$&$0.915$&$0.921$&$0.927$&$0.918$&$0.931$&$0.936$\\
\hline
Olympic&$0.920$&$0.923$&-&$0.933$&$0.932$&-&$0.938$&$0.951$&-&$0.951$&$0.967$&-\\
Character&$0.899$&$0.903$&$0.914$&$0.898$&$0.909$&$0.921$&$0.902$&$0.917$&$0.929$&$0.905$&$0.929$&$0.944$\\
\hline
\end{tabular}